venv/
runs*
__pycache__/
*.pyc
output
data
flwr-poc
.DS_Store
*.pth
*.pth_bck
stderr.log
before_mixed_training
output.old
executions first article
article images
output article
runs
experiments
old_run
runs_200x200
runs_low_success_rate-10-01-25
analysis_results
runs_last
runs_17_04/runs_1000x1000_s10_sr0.5
simulation_output.log
*.log
runs_17_04
runs_20_04
venv_backup
simulation_checkpoint.txt
